
@{
    Layout = null;
}

<div>
    <h1>Response Result From GTPay</h1>
    <table >

        <thead>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>gtpay_tranx_id</td>
                <td>@ViewBag.gtpay_tranx_id</td>
            </tr>
            <tr>
                <td>2</td>
                <td>gtpay_tranx_status_code</td>
                <td>@ViewBag.gtpay_tranx_status_code</td>
            </tr>
            <tr>
                <td>3</td>
                <td>gtpay_tranx_status_msg</td>
                <td>@ViewBag.gtpay_tranx_status_msg</td>
            </tr>
            <tr>
                <td>4</td>
                <td>gtpay_tranx_amt</td>
                <td>@ViewBag.gtpay_tranx_amt</td>
            </tr>
            <tr>
                <td>5</td>
                <td>gtpay_tranx_curr</td>
                <td>@ViewBag.gtpay_tranx_curr</td>
            </tr>
            <tr>
                <td>6</td>
                <td>gtpay_cust_id</td>
                <td>@ViewBag.gtpay_cust_id</td>
            </tr>
            <tr>
                <td>7</td>
                <td>gtpay_gway_name</td>
                <td>@ViewBag.gtpay_gway_name</td>
            </tr>
            <tr>
                <td>8</td>
                <td>gtpay_echo_data</td>
                <td>@ViewBag.gtpay_echo_data</td>
            </tr>
            <tr>
                <td>9</td>
                <td>gtpay_tranx_amt_small_denom</td>
                <td>@ViewBag.gtpay_tranx_amt_small_denom</td>
            </tr>
            <tr>
                <td>10</td>
                <td>gtpay_verification_hash</td>
                <td>@ViewBag.gtpay_verification_hash</td>
            </tr>
        </tbody>

    </table>

</div>
