@model ContentSliderSlideModel
@using SmartStore.Admin.Models.ContentSlider
@{
    ViewBag.Title = "Content Slider Edit Slide";
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            Edit Slider Slide - @Model.Title @Html.ActionLink("(" + "Content Slider back to list" + ")", "Index")
        </div>
        <div class="options">
			@Html.Widget("admin_button_toolbar_before")

            <button type="submit" name="save" value="save" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="btn">@T("Admin.Common.SaveContinue")</button>
            <button type="submit" id="slide-delete" name="slide-delete" class="btn btn-danger"><i class="fa fa-trash-o"></i>&nbsp;@T("Admin.Common.Delete")</button>

			@Html.Widget("admin_button_toolbar_after")
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("DeleteSlide", "slide-delete")
